</div>
</div>

<footer class="footer mt-auto">
  <div class=" bg-white text-center h-50 ">
    <p>
      &copy; <span id="copy-year">2019</span> Copyright sagar Dashboard
      <a class="text-primary" href="" ></a>.
    </p>
  </div>
  <script>
    var d = new Date();
    var year = d.getFullYear();
    document.getElementById("copy-year").innerHTML = year;
  </script>
</footer>

</div>
</div>


<script src="/assets/plugins/jquery/jquery.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>


<script src="/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>

<script src="/assets/js/sleek.js"></script>

</body>
</html>